body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            overflow-y: scroll;
            background-color: white;
            font-family:'나눔스퀘어라운드';src:local('나눔스퀘어라운드'),local('나눔스퀘어라운드 '),local('NanumSquareRound'),local('NanumSquareRound '),url(NanumSquareRoundR.woff2) format('woff2'),url(NanumSquareRoundR.woff) format('woff');font-display:swap;font-weight:400;
	font-size: 13pt;
        }
	div.navbar {
	font-family: 'Sofia Pro', sans-serif;
	font-weight: 400;
	box-sizing:border-box;
	position: sticky;
	top: 0;
	width: 100%;
	border-bottom-style: solid;
	border-color: #d1c29b;
	border-width: 1px;
 	background-color: #fff8e6;
	z-index: 100;
	flex: 0 1 auto;
        }
        div.navbar-content {
	width:50%; 
	margin:auto; 
	padding:0; 
	display:flex;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
        a:hover, a:active {
           color: #606060;
        }
        li.navbar a {
	display: block;
  	padding: 3px;
	margin-left: 10px;
        }
        li.navbar {
	float: right;
        }
        ul.navbar {
  	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
	flex: 1;
        }

	div.content-box {
		background-color: #ffffff;
		flex: 1 1 auto;
		width: 50%;
		margin:auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	div.footer {
		height: 150px; 
		flex: 0 1 auto; 
		border-top-style: solid; 
		border-color: #d1c29b; 
		border-width: 1px;
		background-color: #fff8e6;
		font-family: 'Sofia Pro', sans-serif;
		font-weight: 400;
	}
	p {
		text-align: justify
	}
	p.date {
		color: #808080;
		margin-top:0px;
		margin-bottom:0px;
		font-size: 17pt;
	}
	p.postdate {
		color: #808080;
		margin: 0px;
		margin-bottom:20px;
		font-size: 16pt;
	}
	p.title {
		font-size: 22pt;
		margin-top:0px;
	}
	h1.title {
		font-size: 35pt;
		margin-bottom: 0px;
	}
	h2 {
		font-size: 28pt;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 22pt;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h4 {
		font-size: 15pt;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	img {
		max-width: 100%;
	}
	div.footnotebox {
		background-color: #101010;
		width: 100%;
		height: auto;
		min-height: 100px;
		color: #ffffff;
		position: fixed;
		bottom: 0;
		padding: 20px;
		display: none;
	}
	a.footnotelink {
		color: #94886c;
	}
	a.footnotelink :hover {
		color: #c2b69b;
	}
	sup::before {
		content: "[";
	}
	sup::after {
		content: "]";
	}
	a.anchor {
		display: block;
		visibility: hidden;
		position: relative;
		top: -250px;
	}
        @media screen and (max-width: 800px) {
  	div.navbar-content {
	width: 100%; 
            }
	div.navbar {
	padding-left: 20px;
	padding-right: 20px;
	}
	div.content-box {
		box-sizing:border-box;
		width: auto;
		margin-left: 20px;
		margin-right: 20px;		
	}}
